# Source folders
/index.d.ts

# Output files
/coverage

# eslint files
/.eslintrc.js


# CI config files
/.travis.yml
/appveyor.yml


# ESDoc files
.esdoc.json
esdoc.sh


# Source versions
.git
.hg
.svn
.gitignore


# Temporary folders
/.nyc_output
/.temporary


# Coverage directory used by tools like istanbul
/coverage


# Dependency folders
node_modules
npm-debug.log


# NPM
npm-shrinkwrap.json
/.npmrc


# YARN
yarn.lock


# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~


# OS or Editor folders
.vscode
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
